
<ion-view view-title="" >
  <ion-content class="padding" style='background-image: url("img/fundo.jpg"); width:100%; height: 100%; text-align:center; background-size: 100% 100%;'>
    <img src="img/logo.png" width="60%">
    <br><br>
      No Serviço de Intermediação para o Trabalho do CAT, você encontra, gratuitamente, os serviços:<br>
      <br>
      * Intermediação para o trabalho<br>
      * Cursos de Qualificação Profissional – PRONATEC – Programa Nacional de Acesso ao Ensino Técnico e Emprego.<br>Orientação para o Trabalho e Seleção<br>
      * Processo de Seleção<br>
      * Atendimento às pessoas com deficiência (PCD) “Luciana”<br>
      * Habilitação ao Seguro-Desemprego<br>
      * Emissão de Carteira de Trabalho e Previdência Social (CTPS)<br>
      * PACET - Consulta junto ao Sistema de Proteção ao Crédito – SPC e conciliação entre o devedor e o credor. <br>
      * MEI – Formalização e orientação ao Micro Empreendedor Individual<br>
      * Orientação trabalhista e previdenciária <br>



   <br>
<br><br>
    <img src="img/logospatrocinadores.png" width="100%"><br>
  </ion-content>
</ion-view>
