
<ion-view view-title="Edições" >
  <ion-content class="padding" style='background-image: url("img/fundo.jpg"); width:100%; height: 100%; text-align:center; background-size: 100% 100%;'>
    <img src="img/logo.png" width="80%">
    <br>
    <img src="img/links.png" width="100%" ismap usemap="#exemplo1"><br>
    <map name="exemplo1"> 
    <area coords="100,100,220,175" href="#/tab/chats" shape="rect">
    <area coords="10,150,150,285" href="#/tab/trabalhador" shape="rect">
    <area coords="180,150,350,285" href="#/tab/empresa" shape="rect">
    <area coords="100,210,220,375" href="#/tab/autonomo" shape="rect">
    </map> 
    <br>
    <img src="img/assinatura.png" width="100%"><br>
  </ion-content>
</ion-view>



<ion-view view-title="Edições" >
  <ion-content class="padding" style='background-image: url("img/fundo.jpg"); width:100%; height: 100%; text-align:center; background-size: 100% 100%;'>
    <img src="img/logo.png" width="80%">
    <br>

             <div class="row" style='height: 380px;  background-image: url("img/fundoMenu.png"); background-size: 100% 100%;'>  
                <div class="col" style="height: 380px;"><Br>
                    <Br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  
                    <a href="#/tab/chats"><img src="img/icUnidadesCat.png" width="50%"></a>
                    <Br><Br><Br><Br>
                    <a href="#/tab/trabalhador"><img src="img/icUnidadesTrabalhador.png" width="50%" style="margin-left: -45px;"></a>
                </div>
                <div class="col">
                    <Br><Br><Br><Br><Br><Br>
                    &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#/tab/empresa"><img src="img/icUnidadesEmpresa.png" width="40%"></a>
                    <Br><Br><Br><Br>

                    <a href="#/tab/autonomo"><img src="img/icUnidadesAutonomos.png" width="50%" style="margin-left: -145px;"></a>


                </div>        
             </div>


    <br>
    <img src="img/logospatrocinadores.png" width="100%"><br>
  </ion-content>
</ion-view>
