
<ion-view view-title="Edições" >
  <ion-content class="padding" style='background-image: url("img/fundo.jpg"); width:100%; height: 100%; text-align:center; background-size: 100% 100%;'>
    <img src="img/logo.png" width="100%">
    <br>
    <img src="img/links.png" width="100%" ismap usemap="#exemplo1"><br>
    <map name="exemplo1"> 
    <area coords="110,20,220,165" href="#/tab/chats" shape="rect">
    <area coords="30,20,220,175" href="#/tab/trabalhador" shape="rect">
    </map> 
    <br>
    <img src="img/logospatrocinadores.png" width="100%"><br>
  </ion-content>
</ion-view>
