
<ion-view view-title="" >
  <ion-content  style='background-image: url("img/fundo.jpg"); width:100%; height: 100%; background-size: 100% 100%;' overflow-scroll="true">
    <center>
      <br> 
     &nbsp;&nbsp;<img src="img/botaoTrabalhadoresOportunidades.png" width="45%">
     &nbsp;&nbsp;&nbsp;&nbsp;<img src="img/logo.png" width="45%"> 
    </center>
    <div style="width:100%;height:600px;overflow:auto;-webkit-overflow-scrolling:touch">
    <iframe style="overflow:scroll; height:100%;" src="https://granulito.mte.gov.br/imoweb/login.xhtml"></iframe>
    </div>
  
    </center> 
  </ion-content>
</ion-view>
