
<ion-view view-title="" >
  <ion-content  style='background-image: url("img/fundo.jpg"); width:100%; height: 100%; background-size: 100% 100%;'>
    <center><img src="img/topo_unimoveis.png" width="100%"></center>
    <br>
    <ion-list>
        <div ng-repeat="group in unidades">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
           {{group.name}}
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
            Endereço: {{item.endereco}}<Br>
            Serviços Oferecidos: {{item.servicos}}<br>
            Horário de atendimento: {{item.horarios}}
          </ion-item>
        </div>
      </ion-list>

<br><br>
    <img src="img/logospatrocinadores.png" width="100%"><br>
  </ion-content>
</ion-view>
