<?xml version='1.0' encoding='utf-8'?> <widget xmlns = "http://www.w3.org/ns/widgets"        xmlns:gap = "http://phonegap.com/ns/1.0"        id        = "com.neolig.CAT"        versionCode="142"        version   = "1.1.7">        <name>CATe</name>        <description>            Centro de apoio ao trabalho e empreendedorismo        </description>        <author href="http://renies.com.br" email="toniagne@gmail.com">Toni Schott Agne        </author>     <content src="index.html" />        <preference name='phonegap-version' value='cli-5.1.1' />      <feature name="Device">        <param name="android-package" value="org.apache.cordova.device.Device" />    </feature>    <access origin="*" /></widget>